<article class="pure-u-2-3 card card-detail about">
  <img id="detail-category-img" src="/images/question-icon.png">
  <p id="card-category">About</p>

  <h2>What is Nguyen Streak? </h3>
  <p>If you were up for a big promotion, who would you want to be your hypeman? Your boss? Your best friend? Or somebody else?</p>

  <p>Your boss or bestie might be lovely, but when it comes to advocating for yourself, the best advocate for you is, well... you. No one knows your work as well as you do.</p>
  
  <p>But when it's time to update your resumé or write a performance review, can you remember everything that you've accomplished in the last quarter? The last year? The last few years?</p>

  <p>Nguyen Streak is an app to track your wins. Instead of digging through stacks of old emails, documents, and DMs, Nguyen Streak makes it easier to keep all your accomplishments in one place.</p>

  <ul>
    <li>Track your wins by date and category</li>
    <li>Add supporting details and stats</li>
    <li>Filter your wins by date</li>
  </ul>

  <h2>How do I pronounce 'Nguyen Streak'? </h3>
  <p id="card-content">It's pronounced <em>[win strēk]</em>.
</article>

<footer>
  <a id="back-to-summary" href="/page/<%= session[:current_page] %>">&#9664; Go back</a>
</footer>
