<div class="card card-detail">
  <form class="pure-form pure-form-stacked card-form" action="users/create" method="post">

    <h2>Create a New Account</h2>

    <fieldset>
      <label for="username">Username</label>
      <input class="pure-input-1" name="username" type="text" placeholder="Enter a username..." value="<%= params[:username] || ''%>" id="username-textbox" oninput="countChars('username-textbox', 'username-char-count', 30)"/>
      <span class="char-counter" id="username-char-count">0/30 chars</span>

      <label for="password">Password</label>
      <input class="pure-input-1" name="password" type="password" placeholder="Enter a password..." id="password-textbox" oninput="countChars('password-textbox', 'password-char-count', 30)" value="<%= params[:password] || '' %>" id="username-textbox"/>
      <span class="char-counter" id="password-char-count">0/30 chars</span>

      <label for="password-check">Password confirmation</label>
      <input class="pure-input-1" name="password_check" type="password" placeholder="Please re-enter your password"><br>

      <button type="submit" class="pure-button pure-button-primary" id="submit-form-btn">Create my account</button>
      <a href="/" class="pure-form-message" id="add-form-cancel-link">Cancel</a>
    </fieldset>
  </form>
</div>

