<div class="card card-detail">
  <form class="pure-form pure-form-stacked card-form" action="/sign_in" method="post">
    <h2>Sign in</h2>

    <fieldset>
      <label for="username">Username</label>
      <input class="pure-input-1" name="username" type="text" placeholder="Enter your username..." value="<%= params[:username] || ''%>"/>
      <label for="password">Password</label>
      <input class="pure-input-1" name="password" type="password" placeholder="Enter your password..." value="<%= params[:password] || ''%>"/>

      <button type="submit" class="pure-button pure-button-primary" id="submit-form-btn">Sign in</button>
      <a href="users/new" class="pure-form-message" id="add-form-cancel-link">Create new account</a>
    </fieldset>
  </form>
</div>
