body {
  font-family: 'Urbanist', sans-serif;
  font-weight: 100;
}

h1, h2 {
  font-weight: 300;
  letter-spacing: 2.5px;
  font-style: italic;
  margin: 0;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
  padding-bottom: 20px;
}

a {
  color: black;
}

button {
  font-family: inherit;
  font-size: 1em;
  font-weight: 100;
  border-radius: 10px;
  border: solid black 0.75px;
  background-color: transparent;
  padding: 10px;
  min-width: 100px;
}

a:hover, button:hover {
  text-decoration: underline;
}

/* IMAGES  */

.small-icon {
  width: 20px;
}

.medium-icon {
  width: 40px;
}

.large-icon {
  width: 60px;
}

/* MAIN HEADER  */

header {
  background-color: whitesmoke;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border: solid black 0.75px;
  border-bottom-color: whitesmoke;
  display: grid;
  grid-template-columns: auto;
  color: black; 
}

header * {
  text-decoration: none;
}

#title {
  padding: 20px 20px 10px 20px;
}

#title a:hover {
  text-decoration: none;
}

#main-nav {
  border-top: solid black 0.75px;
}

#title * {
  display: inline-block;
  vertical-align: top;
}

#title img {
  padding-left: 20px;
  padding-right: 10px;
}

#main-nav menu {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 10px;
  font-size: 20px;
}

#main-nav li {
  list-style: none;
}

#profile-dropdown {
  cursor: pointer;
  float: right;
  padding-right: 40px;
}

#profile-dropdown img {
  vertical-align: top;
  padding-right: 5px;
}

.dropdown-content {
  display: none;
  background-color: whitesmoke;
  position: absolute;
  z-index: 1;
  border: solid black 0.75px;
  width: 100px;
  font-size: 16px;
  padding: 10px;
  right: 10px;
  top: 125px;
}

.dropdown-content * {
  padding: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* MAIN CONTENT */

main {
  background-color: whitesmoke;
  padding: 32px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border: solid black 0.75px;
}

/* ALERTS  */

.flash {
  background-color: cornflowerblue;
}

/* CARDS  */

#card-container {
  display: grid;
  grid-template-columns: auto;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}

#card-container > a {
  text-decoration: none;
}

.card {
  background-color: ghostwhite;
  background-image: url("card-background.png");  
  border-radius: 20px;
  outline: 1px solid black;
  outline-offset: -10px;
  width: 400px;
  height: 75px;
  padding: 20px;
  display: grid;
  grid:
  'icon date'
  'menu main';
  grid-gap: auto;
  grid-template-columns: auto auto;
  grid-template-rows: 40px auto;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.19), 0px 6px 6px 0px rgba(0, 0, 0, 0.23) 0px 6px 6px;
  -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.19), 0px 6px 6px 0px rgba(0, 0, 0, 0.23) 0px 6px 6px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: transform 0.2s;
}

.card:hover {
  transform: translate(0px, -10px);
}

.card-logo {
  grid-area: icon;
}

.card-logo * {
  display: inline-block;
  vertical-align: top;
}

.card-category {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 100;
  padding-left: 5px;
}

.card-date {
  grid-area: date;
  text-align: right;
  text-transform: uppercase;
  font-size: 12px;
}

.card-title {
  font-weight: 300;
  font-style: italic;
  padding-left: 10px;
  font-size: 14px;
}

.milestone {
  outline-color: #912123;
}

.learning {
  outline-color: #3a7863;
}

.kudos {
  outline-color: #dab321;
}

.project {
  outline-color: #002849;
}

.other {
  outline-color: #f1e6d0;
}

/* MEDIA QUERIES  */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    background: red;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    background: orange;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    background: yellow;
  }

  header {
    grid-template-columns: auto 275px;
  }
  
  #title, #main-nav {
    padding: 20px;
  }

  #main-nav {
    border-top: none;
  }

  #main-nav menu {
    grid-template-columns: auto auto;
  }

  .dropdown-content {
    top: 55px;
    right: 25px;
  }

  #card-container {
    grid-template-columns: auto auto;
  }

  .card {
    width: 300px;
    height: 100px;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    background: green;
  }

  #card-container {
    grid-template-columns: auto auto auto;
  }

  .card {
    width: 250px;
    height: 200px;
  }

  .card-title {
    font-size: 16px;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    background-color: blue;
  }

  #card-container {
    grid-template-columns: auto auto auto;
  }
}

@media only screen and (min-width: 1475px) {
  body {
    background-color: whitesmoke;
  }

  #card-container {
    grid-template-columns: auto auto auto auto auto;
  }
}
