<% if errors %>
  <div role="alert" class="flash" >
    <%= image_tag("clippy-icon.png", alt: "error icon", class: "medium-icon shake")%>
    <% if errors.length > 1 %>
      <ul>
        <% errors.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% else %>
      <p><%= errors.first %></p>
    <% end %>
  </div>
<% end %>