<article class="one-column">
  <h2>About</h2>

  <h3>If you were up for a dream job or a big promotion, who would you nominate to be your hypeman?</h3>

  <p>Your boss? Your best friend? Or somebody else?</p>

  <p>When it comes to advocating for yourself, <em>the best person for the job is you</em>. No one knows the ins and outs, the scope, or the impact of your accomplishments as well as you do.</p>
  
  <p>But when you go to update your resumé or write a performance review, can you remember everything that you've done in the last quarter? The last year? The last few years?</p>

  <h3>Nguyen Streak is an app to track your wins.</h3>

  <p>Instead of digging through stacks of old emails, documents, and DMs, Nguyen Streak makes it easier to organize all your accomplishments in one place.</p>

  <ul>
    <li>Track your wins by date and category</li>
    <li>Add supporting details and stats</li>
    <li>Filter your wins by date</li>
  </ul>

  <h3>How do I pronounce 'Nguyen Streak'? </h3>
  <p id="card-content">It's pronounced <em>[win strēk]</em>.
</article>

<nav>
  <%= link_to "Go back", root_path %>
</nav>
